---
layout: default
title: Home
---

{% if page.url == "/" %}
<center>
<script type="text/javascript">
	atOptions = {
		'key' : '201333740e88ded0afea641bf1ce171e',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//scheduleginnarcotic.com/201333740e88ded0afea641bf1ce171e/invoke.js"></scr' + 'ipt>');
</script>
</center>
{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Latest Posts</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

<div style="height:300px; width:100%;" overflow="auto">
ads by adsterra<br />
	<script type="text/javascript">
	atOptions = {
		'key' : '26646d4167939b3be8c5260582446e06',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//scheduleginnarcotic.com/26646d4167939b3be8c5260582446e06/invoke.js"></scr' + 'ipt>');
</script><br />
	
	<script type="text/javascript">
	atOptions = {
		'key' : '44cfa21a73680f71503f1a720c58aa06',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//scheduleginnarcotic.com/44cfa21a73680f71503f1a720c58aa06/invoke.js"></scr' + 'ipt>');
</script>
	


</div>


