---
layout: default
---


<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>

    <div class="article-post">



    {{content}}
    



<center><div id="s" style="top: 0px; right: 0px; display: scroll; float: none; margin: auto; overflow: auto; position: fixed; text-align: center; width: 100%; z-index: 99999;">
<div style="display: block; width: 100%; height: 3000px; margin: auto; background-color: #ff5000; overflow: auto; text-align: center;"><br /><center>
<div style="padding: 15px;">
<br /><span style="font-family: arial;"><span style="font-size: large;"><b><span style="color: #cc0000;">Warning</span><span style="color: red;"> 🔞</span></b><br /></span></span><span style="font-family: arial;"><span style="color: #fff; font-size: medium;"><b><br /></b>
You will see NSFW content.<br />Do you want to continue?
 </span>
</span><div><span style="font-family: arial;"><br /></span></div>
<div style="background-color: dodgerblue; border-radius: 3px; padding: 6px; text-align: center; width: 25%;"> <div><b>
<a href="https://www.xselebgram.xyz/2024/03/must-visit-attractions-top-vacation.html" rel="noopener" target="_blank"><span style="color: white;">Yes</span></a></b></div></div>
<br />
<div style="background-color: red; border-radius: 3px; padding: 6px; text-align: center; width: 25%;"> <div><b>
<a href="https://www.xselebgram.xyz/2024/" rel="noopener" target="_blank"><span style="color: white;">No</span></a></b></div></div></div></center></div></div></center>
        
    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>
    <a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = 'Hide'; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = 'new posts'; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="new posts" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">







<div class="jontor" loading="lazy">
<script src="https://rawgit.com/rezamuhamad/rakinfo/master/sitemap.js"></script>
<script src="https://ioma.my.id/feeds/posts/default/?start-index=1&max-results=5000&amp;alt=json-in-script&amp;callback=rak_info_Load"></script>
</div>




</div></div></div></span>
